@import url("rolagem.css");


html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    background-image: url(../img/bkg7.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-size: 1.7rem;
    font-family: sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    padding: 3rem;
}

.container{
    background-color: #ffffffb4;
    width: calc(35rem + 8vw);
    /* border: 2px solid yellow; */
    border-radius: 2.5rem;
    overflow: hidden;

    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    /* border: 2px solid yellow; */
}
.sobre{
    text-align: center;
}
.sobre p{
    text-align: justify;
}
.contatos{
    text-align: center;
}
hr{
    width: 100%;
    opacity: 20%;
}
a, li{
    list-style: none;
    text-decoration: none;
    padding-top: .8rem;
    border-radius: 2.5rem;
    font-weight: bold;
    color: #000;
}
.redes-sociais{
    padding: 1rem;
    /* opacity: 80%; */
}
/* .redes-sociais .linkdin{
    display: block;
    width: 22rem;
    height: 4rem;
    background-color: #00aaffcd;
} */
.redes-sociais .insta{
    display: block;
    width: 22rem;
    height: 4rem;
    /* background-image: linear-gradient(#c96c01, #6c007a); */
    background-color: #f55308cd;
}
.redes-sociais .whats{
    display: block;
    width: 22rem;
    height: 4rem;
    /* background-image: linear-gradient(#1aec2fdd, #147224); */
    background-color: #1aec2fcd;
}